/*
Global styles for Encapsule/holistic-derived web apps
Most styles are applied programmatically via React.
However, it's practically inconvenient to do so in all
cases. In particular for content rendered via input
Markdown source.
*/

BODY {
    background-color: #DEF;
}

A {
    font-family: 'Play', sans-serif;
    text-decoration: none;
    color: #07F;
}

A:visited {
    color: #05D;
    text-decoration: none;
}

A:hover {
    color: #06C;
    text-decoration: none;
    background-color: #DEF;
    border-radius: 0.125em;
}

A:active {
    color: #03C;
    background-color: #9F9;
    text-decoration: none;
    border-radius: 0.125em;
}

H1 {
    font-family: 'Montserrat', sans-serif;
    color: #214478;
    font-size: 24pt;
    margin: 0px;
    margin-top: 0.5em;
}

H2 {
    font-family: 'Montserrat', sans-serif;
    color: #2C5AA0;
    font-size: 22pt;
    margin: 0px;
    margin-top: 0.5em;
}

H3 {
    font-family: 'Montserrat', sans-serif;
    color: #3771C8;
    font-size: 20pt;
    margin: 0px;
    margin-top: 0.5em;
}

H4 {
    font-family: 'Montserrat', sans-serif;
    color: #5F8DD3;
    font-size: 18pt;
    margin: 0px;
    margin-top: 0.5em;
}

H5 {
    font-family: 'Montserrat', sans-serif;
    color: #87AADE;
    font-size: 16pt;
    margin: 0px;
    margin-top: 0.5em;
}

H6 {
    font-family: 'Montserrat', sans-serif;
    color: #AFC6E9;
    font-size: 14pt;
    margin: 0px;
    margin-top: 0.5em;
}


CODE {
    font-size: 10pt;
    background-color: #DEF;
    border: 1px solid #ABC;
    border-radius: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

PRE {
    font-size: 10pt;
    border: 1px solid #ABC;
    background-color:  rgba(190, 222, 255, 0.5);
    border-radius: 0.5em;
    padding: 1em;
    overflow: overlay;
}

PRE CODE {
    font-size: 10pt;
    background-color: rgba(0,0,0,0);
    padding: 0px;
    border: none;
}

TABLE {
    padding: 0.128em;
    border: 1px solid #87AADE;
    border-radius: 0.25em;
    width: 100%;
}

THEAD {
    background-color: #AFC6E9;
    padding: 0.66em;
}

TD {
    border: 1px solid #AFC6E9;
    padding: 0.33em;
    font-size: smaller;
}
